@charset "UTF-8";

* {
    font-family: Arial;
    font-size:20px;
	font-style: italic;
	margin: 0;
}

body {
	color:rgb(10, 0, 0);
}

#container {
	position:absolute;
}

#webglcanvas {
	border:none;
	background-color:#ffffff;

}
.buttonOption{
  width: 20%;
  margin-bottom: 1em;
}
body{
  background-image: url('../images/menuWallpaper.jpg');
  background-size: cover;
}
.menuContainer{
  margin-top: 5em;
}
.gameTitle{
  color: white;
  font-weight: 600;
  margin-top: 2em;
}
